# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/

# Static files
staticfiles/
media/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Node modules
node_modules/

# macOS-specific files
.DS_Store